* {
    margin:10px;
    padding:10px;
 box-sizing: border-box;
}
.padre {
 display: flex;
 flex-flow: column nowrap;
}
.header {
    background: #000;
    display: flex;
    flex-flow: column nowrap;
}
.menu {
    background: #3fc5f0;
    display: flex;
    flex-flow: row nowrap;
    height:100px;
    align-items: center;
}
.logo{
    background: #eef5b2;
    flex:1 1 auto;
    height:30px;
}
.nav{
    background: #eef5b2;
    flex:5 1 auto;
    height:30px;
}
.social{
    background: #eef5b2;
    flex:1 1 auto;
    height:30px;
}
.texto-principal{
    background: #6decb9;
}
 h1{
  background:  #f6da63;
 }
.section {
    background: #000;
}
.articulos {
     background: #da2d2d;
}
.article {
    background: #eb8242;
}
.navegacion{
    background: #7e0cf5;
}
.aside {
  background: #cd4dcc;
}
.publicidad{
    background: #e7a4e4;
}
.footer {
    background: #000;
}
.pie{
    background: #ff7315;
}