* {
    margin:10px;
    padding:10px;
 box-sizing: border-box;
}
.padre {

}
.header {
    background: #000;
}
.menu {
    background: #3fc5f0;
}
.logo{
    background: #eef5b2;
}
.nav{
    background: #eef5b2;
}
.social{
    background: #eef5b2;
}
.texto-principal{
    background: #6decb9;
}
 h1{
  background:  #f6da63;
 }
.section {
    background: #000;
}
.articulos {
     background: #da2d2d;
}
.article {
    background: #eb8242;
}
.navegacion{
    background: #7e0cf5;
}
.aside {
  background: #cd4dcc;
}
.footer {
    background: #000;
}